@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #014E56 ;
    font-family: "Livvic" sans-serif;
}

.container{
   max-width:1110px;
    margin: 0 auto;
    padding: 0 40px;
}
/* Header Style */
.site-header{
    padding: 73px 0 129px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-logo-wrapper{
display: flex;
align-items: center;
gap: 80px;
}
.header-list{
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
}
.header-link:hover{
    color: #F67E7E;
}
.header-link:active{
    cursor: grabbing;
}

.header-contact-link{
    padding: 9px 33px 11px 32px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    line-height:28px ;
    letter-spacing: 0px;
    border: 2px solid #FFFFFF;
    border-radius: 24px ;
    transition: all 0.4s;
}
.header-contact-link:hover{
    background-color:#F67E7E;
}
.header-menu-btn{
background-color: #014E56 ;
    border: none;
    display: none;
}
/*header tablet start*/
@media (max-width:768px){
    .site-header{
        padding: 64px 0 122px;
    }
    .header-logo-img{
        width: 127px;
        height: 32px;
    }
    .header-logo-wrapper{
        gap: 40px;
    }
}
/*header tablet end*/
/*header mobile start*/
@media (max-width:583px){
.site-header{
    padding: 48px 0 80px;
}
.header-list,.header-contact-link{
    display: none;
}
.header-menu-btn{
    display: block;
}
}
/*header mobile end*/
/* Hero style */
.hero-section{
    padding-bottom: 250px;
}
.hero{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.hero-title-wrapper{
    width: 526px;
}
.hero-title{
 font-family:"Livvic",sans-serif;
font-weight: 700;
font-size: 100px;
line-height: 100px;
letter-spacing: 0px;
color: white;

}
.hero-title-color{
    color: #F67E7E;
}
.hero-text-wrapper{
    width: 445px;
}
.hero-line{
    width: 50px;
    height: 4px;
    margin-bottom: 79px;
    display: inline-block;
    background-color: #79C8C7 ;
}
.hero-text{
font-weight: 600;
font-size: 18px;
line-height: 28px;
letter-spacing: 0px;
color: white;

}
@media (max-width:768px){
    .hero{
        flex-direction: column;
        text-align: center;
        background-position: center bottom;
    }
    .hero-title-wrapper,.hero-text-wrapper{
        width: 100%;
    }
    .hero-line{
        display: none;
    }

    .hero-title{
        margin-bottom: 24px;
        font-size: 64px;
        line-height: 56px;
        letter-spacing: 0px;
    }
    .hero-text{
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 0px;
    }

}
/*hero tablet end*/

/*hero mobile start*/
@media (max-width:583px){
    .hero{
        padding-bottom: 197px;
    }
    .hero-title{
        margin-bottom: 18px;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: 0px;
    }
}
@media (max-width:391px){
    .hero{
        background-size: contain;
    }
}
/*hero mobile end*/
/* Build Section */
.build-section {
    padding: 140px 0;
    background-color: #012F34;

}

.build {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.build-title-wrapper {
    width: 445px;
}

.build-line {
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
    display: inline-block;
    margin-bottom: 54px;
}
.build-title {
    margin-right: 125px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0px;
    color: white;
}
.build-item{
    display: flex;
align-items: center;
gap: 23px;
}
.build-item-content-wrapper{
    width: 445px;
}
.build-item-content-wrapper > h3{
margin-bottom: 16px;
font-weight: 700;
font-size: 18px;
line-height: 28px;
letter-spacing: 0px;
color: #F67E7E;
}
.build-item-content-wrapper > p{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: white;
}

.build-list {
     display: flex; 
    flex-direction: column;
    gap: 32px;
    margin-top: 58px;

}
.build-title-wrapper{
     display: flex; 
}
/*stories style*/
.stories-section{
    padding: 140px 0;

}
.stories-title-wrapper{
    width: 932px;
    margin: 0 auto;
    margin-bottom: 56px;
}
.stories-title-wrapper > h2{

font-weight: 700px;
font-size: 48px;
line-height: 48px;
letter-spacing: 0px;
text-align: center;
color: white;
}

.stories-title-wrapper > h2 > span {
    color: #79C8C7;
}
.stories-list{
    display:flex;
    justify-content: space-between;
}


.stories-item{
    width: 350px;
    text-align: center;
}
.stories-item > p{
    margin-bottom: 32px;
 font-weight: 600;
font-size: 15px;
line-height: 25px;
letter-spacing: 0px;
color: white;
}
.stories-item > strong{
/*padding-top: 24px;*/
 display: inline-block;
 margin-bottom: 2px;
font-weight: 700;
font-size: 18px;
line-height: 28px;
letter-spacing: 0px;
color:#79C8C7 ;
}
.stories-item > strong ~ p{
margin-bottom: 92px;
font-weight: 500;
font-size: 13px;
line-height: 2px;
letter-spacing: 0px;
color: white;
}
/*ready section*/
.ready-section {
    padding: 76px 0;
    background-color: #F67E7E;
}
.ready {
    display: flex;
    align-items: center;
    justify-content:space-between;

}
.ready > h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0px;
    color: #012F34;
}
.ready > a{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #012F34;
padding:9px 32px 11px 33px;
border: 2px solid #012F34;
border-radius: 24px;
}
.ready > a:hover{
    background-color: #F67E7E;
    border-color: #F67E7E;
    color: #014E56;
}
.ready > a:active{
    background-color: #fefefe;
    border-color: #FFFFFF;
    color: #014E56;
}

/*footer*/

.site-footer{
padding: 48px 0;
background-color: #012F34;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-left-wrapper{
    display: flex;
gap: 125px;
}
.footer-logo-wrapper > a{
    display: inline-block;
    margin-bottom: 25px;
}
.footer-nav-list{
    display: flex;
align-items:center;
gap: 40px;
}
.footer-nav-item > a{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0px;
    color: white;
    transition: all 0.4;
}
.footer-nav-item > a:hover{
    color: #F67E7E;
}
.footer-location-wrapper > p{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: white;
    opacity: 0.6;
}
.footer-social-wrapper{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 51px;
}
.footer-links-wrapper{
    display: flex;
    gap: 16px;
}
.footer-links-wrapper > a{
color: white;
}
.footer-links-wrapper > a:hover{
    color: #F67E7E;
}
.footer-links-wrapper > p{
font-weight: 600;
font-size: 15px;
line-height: 25px;
letter-spacing: 0px;
text-align: right;
color: white;
opacity: 60%;
}
/*contact styles*/
.contact-hero-section{
    padding-bottom: 120px;
}
.contact-hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-hero-content-wrapper > h2{
margin-bottom: 16px;
font-weight: 700;
font-size: 64px;
line-height: 100px;
letter-spacing: 0px;
color: white;
}
.contact-hero-content-wrapper >p{
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0px;
    margin-bottom: 32px;
    color: #F67E7E;
}
.contact-list{
display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
}
.contact-item{
    display: flex;
    align-items: center;
    gap: 23px;
}
.contact-item >p {
font-weight: 700;
font-size: 18px;
line-height: 28px;
letter-spacing: 0px;
color: white;
}
.contact-form{
width: 540px;
display: flex;
flex-direction: column;
gap: 24px;
}
.contact-input{
background-color: transparent;
padding-left: 14px;
padding-bottom: 17px;
border-top:none;
border-left: none;
border-right: none;
outline: none;

font-family: "Livvic", sans-serif;
font-weight: 600;
font-size: 15px;
line-height: 25px;
letter-spacing: -0.12px;
color: #FFFFFF;
}
.contact-input::placeholder{
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.12px;
    color: #FFFFFF;
    opacity: 60%;
}
.contact-input:focus{
    border-color: white;
}
.contact-input:focus::placeholder{
    color: white;
    opacity:100%;
}
.form-btn{
width: 123px;
padding: 9px 0 11px;
font-weight: 600;
font-size: 18px;
line-height: 28px;
letter-spacing: 0px;
color: #004047;
background-color: #FFFFFF;
border-radius: 24px;
border: none;
cursor: pointer;
}